/* All styles for your header Components live here */

.thumbnailTextContainer {
    

    
        .title {
            color: blue;
        }
}

.reactLogo {
    max-width: 70%;
}

.lambdaLogo img {
    border-radius: 100%;
    max-width: 30%;
    height: auto;
}